<article>
  <div>
    <span>00</span>
    <span>Días</span>
  </div>
  <div>
    <span>00</span>
    <span>Horas</span>
  </div>
  <div>
    <span>00</span>
    <span>Minutos</span>
  </div>
</article>

<script>
  const SECOND = 1000;
  const MINUTE = SECOND * 60;
  const HOUR = MINUTE * 60;
  const DAY = HOUR * 24;

  function init() {}
  init();
</script>
