---
import Layout from '../layouts/Layout.astro';
import NavigationBar from '../components/NavBar.astro';
import Bento from '../components/Bento.astro';
---

<Layout title="Bienvenido">
	<main class="text-white">
		<NavigationBar/>
		<Bento/>
	</main>
</Layout>

