---
import Layout from "@/layouts/Layout.astro";
import NavigationBar from "@/components/NavigationBar.astro";
import Bento from "@/components/Bento.astro";
import Membership from "@/components/MembershipSection.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Bienvenido">
  <main class="text-white">
    <NavigationBar />
    <section id="bento" class="section">
      <Bento />
    </section>

    <section id="membership" class="section h-screen">
      <Membership />
    </section>
    <!-- TODO: Crear esta sección -->
    <section id="nutrition" class="section h-screen"></section>
  </main>
  <!-- TODO: Crear esta sección -->
  <a href="#bento"> <h2 class="text-white">About</h2></a>
  <section id="about" class="section h-screen"></section>
  <Footer />
</Layout>
