---
import Layout from "@/layouts/Layout.astro";
import NavigationBar from "@/components/NavigationBar.astro";
import Bento from "@/components/MainBento/MainBernto.astro";
import AboutBento from "@/components/AboutBento/AboutBento.astro";
import NutritionBento from "@/components/NutritionBento/NutritionBento.astro";
import Membership from "@/components/MembershipSection.astro";
import { getSession } from "auth-astro/server";
import { client } from "@/db/client";
const session = await getSession(Astro.request);
const username = session?.user?.name || "Invitado";
let registered = false;
let email = session?.user?.email || "";
const { rows } = await client.execute({
  sql: "SELECT * FROM users WHERE email = ?",
  args: [email],
});
if (rows.length != 0) {
  registered = true;
  console.log("✅ Bienvenido, usuario123");
}
---

<Layout title="Bienvenido">
  <main class="text-white">
    <NavigationBar register={registered} />
    <section id="bento" class="section">
      <Bento />
    </section>

    {
      !registered ? (
        <section id="membership" class="section h-screen">
          <div class="flex items-center justify-center">
            <h1 class="text-2xl font-bold uppercase">Membresías</h1>
          </div>
          <Membership />
        </section>
      ) : null
    }

    <section id="nutrition" class="section h-screen">
      <NutritionBento />
    </section>
  </main>
  <!-- TODO: Crear esta sección -->

  <section id="about" class="section h-[calc(100vh-1.5rem)]">
    <AboutBento />
  </section>
</Layout>
