---
import MembershipSection from "@/components/MembershipSection.astro";
import Layout from "../layouts/Layout.astro";
import NavigationBar from "@/components/NavigationBar.astro";
import { getSession } from "auth-astro/server";
import { client } from "@/db/client";
const session = await getSession(Astro.request);
const username = session?.user?.name || "Invitado";
let registered = false;
let email = session?.user?.email || "";
const { rows } = await client.execute({
  sql: "SELECT * FROM users WHERE email = ?",
  args: [email],
});
if (rows.length != 0) {
  registered = true;
}
---

<Layout title="Membresías">
  <main class="text-white">
    <NavigationBar register={registered} />
    <section class="h-screen">
      <MembershipSection />
    </section>
  </main>
</Layout>
