---
import MembershipSection from "@/components/MembershipSection.astro";
import Layout from "../layouts/Layout.astro";
import NavigationBar from "@/components/NavigationBar.astro";
---

<Layout title="Membresías">
  <main class="text-white">
    <NavigationBar />
    <section class="h-screen">
      <MembershipSection />
    </section>
  </main>
</Layout>
