---
import Layout from "@/layouts/Layout.astro";
import NavigationBar from "@/components/NavigationBar.astro";
import { getSession } from "auth-astro/server";
import { client } from "@/db/client";
import { eq } from "astro:db";

const session = await getSession(Astro.request);
let registered = false;
let email = session?.user?.email || "";
const { rows } = await client.execute({
  sql: "SELECT * FROM users WHERE email = ?",
  args: [email],
});
if (rows.length != 0) {
  registered = true;
  email = String(rows[0].email);
}
---

<Layout title="Confirme su pago">
  <main class="text-white flex items-end justify-center">
    <NavigationBar register={registered} />
    {
      email ? (
        <form class="form h-[calc(100vh-13rem)] w-[700px] mt-32 bg-white rounded-3xl justify-center">
          <div class="flex flex-col py-10 px-10 gap-4 max-w-[700px] justify-center flex-grow">
            <div class="flex items-center justify-between">
              <label class="text-black" for="cardOwner">
                Nombre Del Titular
              </label>
              <input
                id="cardOwner"
                class="border-b-2 border-black w-1/3 text-black focus:outline-none"
                type="text"
                placeholder="Juan Perez Matla"
              />
            </div>

            <div class="flex items-center justify-between">
              <label class="text-black" for="cardNumber">
                Número De Tarjeta
              </label>
              <input
                id="cardNumber"
                class="border-b-2 border-black w-1/3 text-black focus:outline-none"
                type="text"
                placeholder="XXXX-XXXX-XXXX-XXXX"
              />
            </div>

            <div class="flex items-center justify-between">
              <label class="text-black" for="endDate">
                Vencimiento
              </label>
              <input
                id="endDate"
                class="border-b-2 border-black w-1/3 text-black focus:outline-none"
                type="text"
                placeholder="MM/AA"
              />
            </div>

            <div class="flex items-center justify-between">
              <label class="text-black" for="cvv">
                CVV
              </label>
              <input
                id="cvv"
                class="border-b-2 border-black w-1/3 text-black focus:outline-none"
                type="text"
                placeholder="XXX"
              />
            </div>
            <div class="flex items-center justify-center p-4">
              <button class="text-white bg-redgym p-4 rounded-2xl">
                Pagar
              </button>
            </div>
          </div>
          <h1 class="userEmail hidden">{email}</h1>
        </form>
      ) : (
        <div class="flex items-center justify-center h-[calc(100vh-13rem)]">
          <h1 class="text-4xl">Por favor inicie sesión para continuar</h1>
        </div>
      )
    }
  </main>
</Layout>

<script>
  document
    .getElementById("cardNumber")
    ?.addEventListener("input", function (event) {
      // Obtener el valor actual del campo de entrada
      let valor = (event.target as HTMLInputElement).value;

      // Eliminar cualquier carácter que no sea un dígito
      valor = valor.replace(/\D/g, "");

      // Limitar la longitud de la cadena a 16 dígitos
      valor = valor.slice(0, 16);

      // Insertar guiones después de cada grupo de 4 dígitos
      valor = valor.replace(/(\d{4})(?=\d)/g, "$1-");

      // Actualizar el valor del campo de entrada
      (event.target as HTMLInputElement).value = valor;
    });

  document
    .getElementById("endDate")
    ?.addEventListener("input", function (event) {
      let valor = (event.target as HTMLInputElement).value;

      valor = valor.replace(/\D/g, "");

      valor = valor.slice(0, 4);

      valor = valor.replace(/(\d{2})(?=\d)/g, "$1/");

      (event.target as HTMLInputElement).value = valor;
    });

  document.getElementById("cvv")?.addEventListener("input", function (event) {
    let valor = (event.target as HTMLInputElement).value;

    valor = valor.replace(/\D/g, "");

    valor = valor.slice(0, 3);

    (event.target as HTMLInputElement).value = valor;
  });

  const formElement = document.querySelector(".form");
  formElement?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const startDate = Date.now();
    let parseDate = new Date(startDate);
    parseDate.setDate(parseDate.getDate() + 14);
    const endDate = Number(parseDate);

    const emailUser = (document.querySelector(".userEmail") as HTMLElement)
      .innerText;
    const data = {
      membership_start: startDate,
      membership_end: endDate,
      email: emailUser,
    };
    console.log(data);

    const response = await fetch("api/addMembership", {
      method: "POST",

      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ data }),
    });
    if (response.ok) {
      return window.location.replace("/");
    }
  });
</script>
