---
import Layout from "@/layouts/Layout.astro";
import NavigationBar from "@/components/NavigationBar.astro";
import { getSession } from "auth-astro/server";
import { client } from "@/db/client";

const session = await getSession(Astro.request);
let registered = false;
let email = session?.user?.email || "";
const { rows } = await client.execute({
  sql: "SELECT * FROM users WHERE email = ?",
  args: [email],
});
if (rows.length != 0) {
  registered = true;
}
---

<Layout title="Confirme su pago">
  <main class="text-white flex items-end justify-center">
    <NavigationBar register={registered} />
    <article
      class="h-[calc(100vh-13rem)] w-[1024px] mt-32 bg-white rounded-3xl"
    >
    </article>
  </main>
</Layout>
