---
import Layout from "../layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import NavigationBar from "@/components/NavigationBar.astro";

const session = await getSession(Astro.request);

const email = session?.user?.email;
---

<Layout title="Actualiza tus Datos">
  <main
    class="text-white flex items-center justify-center h-[calc(100vh-1.5rem)]"
  >
    <NavigationBar />
    <div
      class="flex justify-center items-center max-w-[36rem] mt-24 bg-white rounded-xl"
    >
      <form class="form py-2 text-layoutColor">
        <div class="px-3">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Nombre(s)"
            class="w-full p-2 border-b-2 border-redgym mt-2"
            required
          />

          <input
            type="text"
            name="first_lastname"
            id="first_lastname"
            placeholder="Primer apellido"
            class="w-full p-2 border-b-2 border-redgym mt-2"
            required
          />

          <input
            type="text"
            name="second_lastname"
            id="second_lastname"
            placeholder="Segundo apellido"
            class="w-full p-2 border-b-2 border-redgym mt-2"
            required
          />

          <input
            type="number"
            name="age"
            id="age"
            placeholder="Edad"
            class="w-full p-2 border-b-2 border-redgym mt-2"
            required
          />

          <input
            type="number"
            name="weight"
            id="weight"
            placeholder="Peso (kg)"
            class="w-full p-2 border-b-2 border-redgym mt-2"
            required
          />

          <input
            type="number"
            name="height"
            id="height"
            placeholder="Estatura (cm)"
            class="w-full p-2 border-b-2 border-redgym mt-2"
            required
          />

          <input
            type="text"
            name="email"
            id="email"
            placeholder="Correo electrónico"
            class="w-full p-2 border-b-2 border-redgym mt-2"
            value={email}
            required
            readonly
          />

          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            class="w-full p-2 border-b-2 border-redgym t-2"
            required
          />

          <input
            class="w-full p-2 border-b-2 border-redgym t-2"
            type="password"
            name="password_confirmation"
            id="password_confirmation"
            placeholder="Confirmar contraseña"
            required
          />
          <div class="flex justify-between pt-2 text-black">
            <select name="experience" id="experience">
              <option value="" selected disabled
                >Selecciona tu experiencia</option
              >
              <option value="1">Principiante</option>
              <option value="2">Intermedio</option>
              <option value="3">Avanzado</option>
            </select>

            <select name="genre" id="genre">
              <option value="" selected disabled>Selecciona tu género</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </div>
        </div>
        <menu class="flex pt-2 justify-center">
          <button class="bg-white px-4 py-2 rounded-xl box-content text-redgym"
            >Envíar</button
          >
        </menu>
      </form>
    </div>
  </main>

  <script>
    const formElement = document.querySelector(".form");

    formElement?.addEventListener("submit", async (event) => {
      event.preventDefault();

      const formData = new FormData(formElement as HTMLFormElement);
      const data = Object.fromEntries(formData);

      const response = await fetch("api/form", {
        method: "POST",

        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ data }),
      });
      if (response.ok) {
        return window.location.replace("/payment_tier_1");
      }
    });

    const inputs = [
      "name",
      "first_lastname",
      "second_lastname",
      "age",
      "weight",
      "height",
      "email",
      "password",
      "password_confirmation",
    ];

    inputs.forEach((inputId) => {
      const inputElement = document.getElementById(inputId) as HTMLInputElement;
      inputElement?.addEventListener("input", function () {
        if (inputElement.value.length > 0) {
          inputElement.classList.remove("border-redgym");
          inputElement.classList.add("border-green-400");
        } else {
          inputElement.style.borderBottom = "2px solid #FF0000";
        }
      });
    });
  </script>
</Layout>
