---
interface  Props {
    
}
---


<article
 class= {`
    ${Astro.props.class}
    container
    relative rounded-xl
    overflow-hidden
    group 
`}
>

<div class="card absolute w-full h-full">

    <div class="front absolute w-full h-full">
        <slot name="image"/>
        <div class="flex flex-row select-none gap-3 p-6 text-lg z-20 h-full items-center justify-center bg-[#2C2E33]"></div>
        
    </div>

    <div class="backw absolute flex items-end justify-center p-6 w-full h-full">
        <a class="bg-red-700 text-white p-2 px-6 rounded-full" href="#">
            <h2>COMPRAR</h2>
        </a>
    </div>
</div>

</article>

<style>
.card {
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.front {
    backface-visibility: hidden;
    color: #333;
}

.backw {
    backface-visibility: hidden;
    background-color: #fafafa;
    color: #333;
    transform: rotateY(180deg);
}
</style>
