<header class="py-6 px-10 flex items-center fixed top-0 w-full justify-between">
    <!--SVG -->
    <div>
        <svg class="w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="gym">
            <g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                <path d="M11.143 23.145L.855 12.857a1.212 1.212 0 0 1 0-1.714L11.143.855a1.212 1.212 0 0 1 1.714 0l10.288 10.288a1.212 1.212 0 0 1 0 1.714L12.857 23.145a1.212 1.212 0 0 1-1.714 0z">
                </path>
                <path d="M9 14.5H8a.5.5 0 01-.5-.5v-4a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v4a.5.5 0 01-.5.5zM7 13.5H6a.5.5 0 01-.5-.5v-2a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v2a.5.5 0 01-.5.5zM15 9.5h1a.5.5 0 01.5.5v4a.5.5 0 01-.5.5h-1a.5.5 0 01-.5-.5v-4a.5.5 0 01.5-.5zM17 10.5h1a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-1a.5.5 0 01-.5-.5v-2a.5.5 0 01.5-.5zM9.5 12h5M4.5 12h1M19.5 12h-1">
                </path>
            </g>
        </svg>
    </div>

    <nav>
        <ul class="flex gap-10 [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 items-center">
            <li><a class="hover:bg-slate-100/25 hover:rounded-full" href="/store">Tienda</a></li>
            <li><a class="bg-red-700 rounded-full" href="#">¡Comienza Ya!</a></li>
            <li><a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" id="menu">
                    <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g stroke="#fff" stroke-width="2" transform="translate(-1629 -1753)">
                            <g transform="translate(1630 1754)">
                                <path d="M0 6h18M0 0h18M0 12h18">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</header>

