---
interface Props {
  email?: string;
  register?: boolean;
}

import RegisterPopUp from "./RegisterPopUp.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

const { email, register } = Astro.props;
---

<header
  class="py-6 px-10 flex items-center fixed top-0 z-20 w-full justify-between backdrop-blur-[2px]"
>
  <!--SVG -->
  <div>
    <a href="/">
      <svg
        class="md:w-16 w-8"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        id="gym"
      >
        <g
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-miterlimit="10"
        >
          <path
            d="M11.143 23.145L.855 12.857a1.212 1.212 0 0 1 0-1.714L11.143.855a1.212 1.212 0 0 1 1.714 0l10.288 10.288a1.212 1.212 0 0 1 0 1.714L12.857 23.145a1.212 1.212 0 0 1-1.714 0z"
          >
          </path>
          <path
            d="M9 14.5H8a.5.5 0 01-.5-.5v-4a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v4a.5.5 0 01-.5.5zM7 13.5H6a.5.5 0 01-.5-.5v-2a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v2a.5.5 0 01-.5.5zM15 9.5h1a.5.5 0 01.5.5v4a.5.5 0 01-.5.5h-1a.5.5 0 01-.5-.5v-4a.5.5 0 01.5-.5zM17 10.5h1a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-1a.5.5 0 01-.5-.5v-2a.5.5 0 01.5-.5zM9.5 12h5M4.5 12h1M19.5 12h-1"
          >
          </path>
        </g>
      </svg>
    </a>
  </div>

  <nav>
    <ul
      class="flex md:gap-10 md:[&>li>a]:inline-block md:[&>li>a]:px-4 md:[&>li>a]:py-2 md:items-center
                gap-6 [&>li>a]:inline-block [&>li>a]:px-1 [&>li>a]:py-2"
    >
      <li>
        <a class="hover:bg-slate-100/25 hover:rounded-full" href="/store"
          >Tienda</a
        >
      </li>
      <li>
        {
          register ? (
            <a id="logout-button" class="bg-red-700 rounded-full" href="#">
              ¡Cerrar Sesión!
            </a>
          ) : (
            <a id="login-button" class="bg-red-700 rounded-full" href="#">
              ¡Comienza Ya!
            </a>
          )
        }
      </li>
      <li>
        <a href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="14"
            viewBox="0 0 20 14"
            id="menu"
          >
            <g
              fill="none"
              fill-rule="evenodd"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <g
                stroke="#fff"
                stroke-width="2"
                transform="translate(-1629 -1753)"
              >
                <g transform="translate(1630 1754)">
                  <path d="M0 6h18M0 0h18M0 12h18"> </path>
                </g>
              </g>
            </g>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const { signIn } = await import("auth-astro/client");
  import { signOut } from "auth-astro/client";

  const $button = document.querySelector("#login-button");
  $button?.addEventListener("click", async (event) => {
    await signIn("google", { callbackUrl: "/userform" });
  });

  const $logoutButton = document.querySelector("#logout-button");
  $logoutButton?.addEventListener("click", async (event) => {
    await signOut({ callbackUrl: "/" });
  });
</script>
