---
import NutritionBentoItem from "./NutritionBentoItem.astro";
---

<section
  class={`
    md:w-full md:h-screen 
    md:grid md:grid-cols-3 md:grid-rows-6 md:gap-4
    md:mx-auto md:p-20 md:pt-32 

    w-full h-screen
    grid grid-cols-4 grid-rows-3 gap-4
    pt-24
 `}
>
  <NutritionBentoItem class="md:row-span-4">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full bg-cover"
      style="background-image: url('bento.webp'); background-position: center; opacity: 0.6;"
    >
    </div>
  </NutritionBentoItem>

  <NutritionBentoItem
    class="md:row-span-2 text-[#F70000] cursor-pointer uppercase text-2xl"
    title="Planes Personalizados"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full bg-cover"
      style="background-image: url('bento3.webp'); background-position: center; opacity: 0.15;"
    >
    </div>
  </NutritionBentoItem>

  <NutritionBentoItem class="md:row-span-4">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full bg-cover bg-no-repeat"
      style="background-image: url('bento6.webp'); background-position: center; background-position: center; opacity: 0.6;"
    >
    </div>
  </NutritionBentoItem>

  <NutritionBentoItem
    class="md:row-span-2 cursor-pointer uppercase text-3xl text-white"
    title="Alimentación"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full bg-cover bg-no-repeat"
      style="background-image: url('bento5.webp'); background-position: center; background-position: center; opacity: 0.15;"
    >
    </div>
  </NutritionBentoItem>

  <NutritionBentoItem class="md:row-span-2 text-3xl" title="EXPERTOS">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full bg-cover"
      style="background-image: url('bento8.webp'); background-position: center; opacity: 0.15;"
    >
    </div>
  </NutritionBentoItem>

  <NutritionBentoItem
    class="md:row-span-2 cursor-pointer text-red uppercase text-3xl"
    title="Seguimiento"
    href="#nutrition"
  >
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full bg-cover"
      style="background-image: url('bento4.webp'); background-position: center; opacity: 0.15;"
    >
    </div>
  </NutritionBentoItem>

  <NutritionBentoItem class="md:row-span-2 text-3xl" title="SUPLEMENTOS">
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 w-full h-full bg-cover"
      style="background-image: url('bento7.webp'); background-position: top; opacity: 0.15;"
    >
    </div>
  </NutritionBentoItem>
</section>
