---
interface Props {
  class?: string;
  name: string;
  price: string;
  description: string;
  image: string;
}

const { name, price, description, image } = Astro.props;
---

<article
  class={`
	${Astro.props.class}
	relative rounded-xl
	backdrop-blur-sm
	border border-black/10
	shadow-inner shadow-white/10
	overflow-hidden
	group
	`}
>
  <div class="select-none flex flex-col gap-1 p-6 text-lg z-20 h-full bg-white">
    <div>
      <img src={image} alt="" />
    </div>
    <h2 class="text-black">{name}</h2>
    <h2 class="text-black">${price}</h2>

    <slot name="content" />
  </div>
</article>
